<div class="container"></div>
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3 class="teal-text text-darken-2">JONATHAN DIAZ</h3>
          <p class="center rem-2"><strong>Desarrollador web fullstack, Ingeniero en sistemas</strong></p><img src="imgs/photo.jpg" width="150px" class="circle responsive-img">
          <p class="left-align light center">Soy desarrollador web fullstack, trabajo con tecnologías como React.js, Angularjs, Nodejs, Backbone.js, Ionic, HTML5/CSS3, Python y Django, .NET, llevo bastante tiempo en el mundo del emprendimiento trabajando en diferentes startups en las que he podido aprender mucho sobre creación de productos digitales, tengo experience en UX (experience de usuario) ya que he realizado varios cursos y los he aplicado a diferentes proyectos con muy buenos resultados.</p>
          <p class="left-align light center">Me gusta estar actualizado con las  últimas tecnologías web y poder compartir conocimiento con la comunidad.</p>
        </div>
      </div>
    </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container"><br>
        <h1 class="header center teal-text text-lighten-2">PROYECTOS RECIENTES</h1>
        <div class="row center">
          <h5 class="header col s12 light">Tenemos los mejores servicios para lograr que tu empresa sea la numero uno en el mercado digital.</h5>
        </div>
        <div class="row center"><a id="download-button" class="btn-large waves-effect waves-light teal lighten-1">VER PROYECTOS</a></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/thing.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="teal-text text-darken-2 center">SERVICIOS</h3>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img src="imgs/planeacion.png" height="212px" class="activator"></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4"><strong>PLANEACIÓN</strong><i class="material-icons right wm-t-10">more_vert</i></span></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4"><strong>PLANEACIÓN</strong><i class="material-icons right">close</i></span>
              <p>Su proyecto web debe llevar una planificación previa para que sus clientes se sientan a gusto y encuentren lo que buscan en su portal web.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img src="imgs/design.png" class="activator"></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4"><strong>DISEÑO</strong><i class="material-icons right wm-t-10">more_vert</i></span></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4"><strong>DISEÑO</strong><i class="material-icons right">close</i></span>
              <p>Diseñamos sitios estéticos y funcionales manteniendonos a la vanguardia de las tendencias actuales.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img src="imgs/aplications.jpg" height="288px" class="activator"></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4"><strong>APLICACIONES WEB</strong><i class="material-icons right wm-t-10">more_vert</i></span></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4"><strong>APLICACIONES WEB</strong><i class="material-icons right">close</i></span>
              <p>Creamos herramientas interactivas funcionales para navegadores web, así sus clientes pueden interactuar de una manera más sencilla y efectiva con su negocio.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img src="imgs/programmerday.jpg" class="activator"></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4"><strong>DESARROLLO</strong><i class="material-icons right wm-t-10">more_vert</i></span></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4"><strong>DESARROLLO</strong><i class="material-icons right">close</i></span>
              <p>Su portal web esta respaldado por una codificación solida en lenguajes para la web asegurando un correcto funcionamiento de su portal o aplicación web..</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img src="imgs/administration.png" class="activator"></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4"><strong>ADMINISTRACIÓN WEB</strong><i class="material-icons right wm-t-10">more_vert</i></span></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4"><strong>ADMINISTRACIÓN WEB</strong><i class="material-icons right">close</i></span>
              <p>Ayudamos a nuestros clientes a mantener su portal  web actualizado con nuevas noticias y contenidos que su negocio genere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3 CLASS="teal-text text-darken-2">PROJECT MANAGEMENT</h3>
          <p class="center rem-2">Planeación, Ejecución, Seguimiento y Resultados.</p>
          <p class="left-align light">Para poder desarrollar un producto digital como lo es un portal web, un blog una aplicacion  movil, es necesario tener establecidos y claros los objetivos que se quieren cumplir y las métricas que se quieren alcanzar</p>
          <p class="rem-1-5 left-align"><strong>¿Cómo lo puedo ayudar con sus proyectos web?</strong></p>
          <p class="left-align light ">Si no sabe por donde empezar a desarrollar su proyecto, yo puedo darle una asesoría por donde debe comenzar, juntos lograremos un gran equipo y podras desarrollar tu idea.</p>
          <p class="left-align light ">1. Definicion del proyecto: En esta etapa se deben considerar los objetivos, el alcanza y el tiempo en el que el proyecto debe estar al aire.</p>
          <p class="left-align light">2. Análisis de requisitos: ¿Qué es lo que se necesita para desarrollar el proyecto? herramientas, software, plantillas, licencias, hostings, servidores etc. </p>
          <p class="left-align light">3. Diseño y prototipo: Se inicia con el wireframe del sitio web lo cual trae muchas preguntas de organización y presentación. También se revisan layouts y diseños.</p>
          <p class="left-align light">4. Construcción y Testing: Implementación del CMS que mejor se ajuste a las necesidades del sitio. Etapa de evaluación.</p>
          <p class="left-align light">5. Despliegue y Evaluación: Implementación de estrategias de social marketing, definición de métricas, objetivos y analítica.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/thing.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3>Trabajemos juntos</h3>
          <p class="left-align light rem-2 center">Si estas interesado en iniciar un nuevo proyecto o si necesitas alguna consultoria tecnologica puedes contactarte conmigo.</p>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:1300px;" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/services.jpg" alt="Unsplashed background img 3"></div>
  </div>
