<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container"><br>
        <h1 class="header center teal-text text-lighten-2">PROYECTOS RECIENTES</h1>
        <div class="row center">
          <h5 class="header col s12 light">Tenemos los mejores servicios para lograr que tu empresa sea la numero uno en el mercado digital.</h5>
        </div>
        <div class="row center"><a id="download-button" class="btn-large waves-effect waves-light teal lighten-1">VER PROYECTOS</a></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/thing.jpg" alt="Unsplashed background img 1"></div>
  </div>
