html
  head
    link(href="favicon.png" rel="icon")
    link(href='https://fonts.googleapis.com/css?family=Material+Icons' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel="stylesheet"  href="/css/admin.min.css")
    meta(charset='utf-8')
    block title
      title Default title

  body(class="relative")
    include ./header.pug
    section(class="container wm-t-55 admin-main-wrapper left",
            style="width:100%")
      include ./aside.pug
      section(class="admin-content")
        block content
    block javascript
    script(type="application/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js")
    script(type="application/javascript", src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ob9gv0tlqkrhlitmx3tviqqd5rfkq5kfk13nbmo75izdjsq1	")
