footer(class="page-footer teal")
  div(class="container")
    div(class="row")
      div(class="col l6 s12")
        h5(class="white-text")|Company Bio
        p(class="grey-text text-lighten-4")|We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
      div(class="col l3 s12")
        h5(class="white-text")|Settings
        ul
          li
            a(class="white-text" href="#")|Link 1
          li
            a(class="white-text" href="#")|Link 2
          li
            a(class="white-text" href="#")|Link 3
          li
            a(class="white-text" href="#")|Link 4x

      div(class="col l3 s12")
        h5(class="white-text")|Connect
        ul
          li
            a(class="white-text" href="#!")|Link 1
          li
            a(class="white-text" href="#!")|Link 2
          li
            a(class="white-text" href="#!")|Link 3
          li
            a(class="white-text" href="#!")|Link 4

  div(class="footer-copyright")
    div(class="container")|Made by
      a(class="brown-text text-lighten-3")|Materialize
