footer(class="page-footer teal")
  div(class="container")
    div(class="row")
      div(class="col l6 s12")
        h5(class="white-text")|Jonathan Diaz
        p(class="grey-text text-lighten-4")|Desarrollador web amante de la tecnologia 
      div(class="col l3 s12")
        h5(class="white-text")|Dato de contacto
        ul
          li
            a(class="white-text" href="#")|3185007577
          li
            a(class="white-text" href="#")|jonthdiaz@gmail.com

      //- div(class="col l3 s12")
      //-   h5(class="white-text")|Connect
      //-   ul
      //-     li
      //-       a(class="white-text" href="#!")|Link 1
      //-     li
      //-       a(class="white-text" href="#!")|Link 2
      //-     li
      //-       a(class="white-text" href="#!")|Link 3
      //-     li
      //-       a(class="white-text" href="#!")|Link 4

  div(class="footer-copyright")
    div(class="container")|Made by
      a(class="brown-text text-lighten-3")|jonathan diaz
