nav(class="white" role="navegation")
  div(class="nav-wrapper container")
    a(id="logo-container" href="#" class="brand-logo wm-t-10 wm-xs-t-5")
      img(src="imgs/logo.png")
    ul(class="right hide-on-med-and-down")
      li
        a(href="#") INICIO
      li
        a(href="#") SOBRE MI
      li
        a(href="#") SERVICIOS
        li
          a(href="#") PROJECT MANAGER
    ul(id="nav-mobile" class="side-nav")
      li
        a(href="#") INICIO
      li
        a(href="#") SOBRE MI
      li
        a(href="#") SERVICIOS
    a(href="#" data-activates="nav-mobile" class="button-collapse")
      i(class="material-icons")|menu
