html
  head
    link(href='https://fonts.googleapis.com/css?family=Material+Icons' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel="stylesheet"  href="/css/layout.min.css")
    meta(charset='utf-8')
    block title
      title Default title
    
  body
    include ./header.pug
    block content
    include ./footer.pug
    block javascript
